.navbar-inverse {
    background-color: red;
    border-color: red;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: white;
    background-color: #c10b0b;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: #c10b0b;
}

.dropdown-menu>li>a {
    color: #ef0b3c;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffbbbc;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover {
    color: #ffbbbc;
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: #d43f3a;
}


/*#cards-table{
    width: 1100px; !important
    word-wrap:break-word;
}*/

/*#cards-table td{
    table-layout: fixed;
    overflow:hidden;
}*/
/*
.concat div {
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
}

.setWidth {
    width: 500px;
}*/
#cards-table {
    width: 1100px;
    table-layout:fixed;
}
#cards-table td {
    word-wrap:break-word;
}