<p><h1>Silent santa box was shuffled.</h1></p>
<p>Box money restriction: {{ box.money_rest }}</p>
<p>Your receiver: <b>{{ card.username }}</b></p>
<p>Your receiver email: {{ card.email }}</p>
{% if box.allow_suggestions %}</p>
    <p>Your receiver suggestions: {{ card.suggestions }}</p>
{% endif %}