{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Secret santa{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Add new card to the box</h1>
</div>
<div class="col-md-4">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.username) }}
        {% if allow_suggestions %}
            {{ wtf.form_field(form.suggestion) }}
        {% endif %}
        {{ wtf.form_field(form.submit) }}
    </form>
    <br>
    <p>Change your mind?<a href="{{ url_for('main.box', hash=hash) }}"> Back to the box!</a>.</p>
</div>
{% endblock %}