{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Secret santa{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Box cards.</h1>
    <ul>
        <li>money restriction: {{ box.money_rest }}</li>
        <li>Status:
        {% if box.shuffled %}
        <b>Shuffled</b>
        {% else %}
        <b>Waiting for shuffle</b>
        {% endif %}
        </li>
    </ul>

</div>

<div class="col-md-5">
    <table class="table table-hover" id="cards-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                {% if box.allow_suggestions %}
                    <th class="col-sm-6">Suggestions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.username }}</td>
                <td>{{ card.email }}</td>
                {% if box.allow_suggestions %}
                    <td class="col3">{{ card.suggestions }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not box.shuffled %}
        <a class="btn btn-danger" href="{{ url_for('.add_card', hash=box.box_hash) }}">Add card</a>
        {% if box_creator%}
            <a class ="btn btn-danger" href="{{ url_for('.shuffle_box', hash=box.box_hash) }}" > Shuffle cards </a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}