{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Secret santa{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Box configurations</h1>
</div>
<div class="col-md-4">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.allow_suggestions) }}
        {{ wtf.form_field(form.suggestion) }}
        {{ wtf.form_field(form.money_restrictions) }}
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{
    url_for('static', filename='js/disable_field.js') }}"></script>
{% endblock %}