{% extends "base.html" %}

{% block title %}Secret santa{% endblock %}

{% block page_content %}
<div class="page-header">
    <center><h1>Welcome, on secret santa page!</h1></center>
</div>
<center>
    <a class="btn btn-danger" href="{{ url_for('.create_box') }}">Create Box</a>
</center>

{% endblock %}